.booksimage {
    background-image: url("https://images.unsplash.com/photo-1507842217343-583bb7270b66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8bGlicmFyeXxlbnwwfHwwfHw%3D&w=1000&q=80");
    background-position: center;
    height: 40vh;
    background-size: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-size: 50px;

}


.productcontainer {
    width: 100%;
    margin: 20px;
    /* display: inline;
    justify-content: center;
    align-items: center; */
}

.booklinks {
    color: white;
    text-decoration: none;
}

.productimage {
    object-fit: contain;
    height: 300px;
    width: 300px;
}

#backtohome {
   position: absolute;
   color: black;
   border: 2px solid white;
   padding: 20px;
   border-radius: 4px;
   background-color: black;
    color: white;
    font-size: 14px;
}
