.productcategories {
    color: white;
    background-color: #cd9042;
}

.productline {
    display: flex;
    /* margin: 2%; */
    padding: 2%;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


.producttitle {
    font-weight: bold;
}

.productcategories {
    display: flex;
    justify-content: space-between;
}

.scrolloptions{
    display: inline-flex;
    margin-right: 3%;
}

.scrolloptions p {
    margin-left: 4%;
    margin-right: 4%;
}

#left {
    margin-right: 2vw;
}

.products {
    display: flex;
}
#productimage {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

#productimage:hover {
    transform: scale(1.1);
    transition: 0.2s;
    z-index: 1;
    cursor: pointer
}
