.splashpage{
    background-color: rgba(245, 245, 245, 0.578);

}
.productsections {
    border-bottom: black 10px solid;
}


.productcategories {
    color: white;
    background-color: #cd9042;
}

.productline {
    display: flex;
    padding: 2%;
    align-items: center;
    overflow-x: scroll;
    scroll-behavior: smooth;
}


.producttitle {
    font-weight: bold;
}

.productcategories {
    display: flex;
    justify-content: space-evenly;
}


#left {
    color: black;
    padding: 4px;
    margin-left: 2px;
}
#right {
    color: black;
    padding: 4px;
    margin-right: 2px;
}

.products {
    display: flex;
}
#productimage {
    object-fit: contain;
    width: 200px;
    height: 200px;
}

#productimage:hover {
    transform: scale(1.1);
    transition: 0.2s;
    z-index: 1;
    cursor: pointer
}
