.addreviewmodal {
    width: 100%;
    height: 100%;
    margin-top: 20px;
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.addreviewmodal{
    width: 100%;
}

.nameinput{
    margin-top: 10px;
 width: 100%;
 height: auto;
}



.bodyinput{
    margin-top: 20px;
    width: 100%;
    height: 60vh;
    text-align: top;
    text-align: left;
}

.ratingcontainer {
    margin-top: 40px;
    margin-bottom: 30px;
}


#submitbutton {
   margin-top: 40px;
}

@media only screen and (max-width: 780px) {
    #modal-content {
        width: 50%;
    }
}


@media only screen and (max-width: 333px) {
    #modal-content {
        width: 100%;
    }
}
