.subtotal {
    display: flex;
    height: 50vh;
    border-radius: 2px;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    z-index: 1000;
    background-color: #f59415;
    border: 2px solid black;
}

.cartitemcount {
    margin-left: 20px;
    margin-top: 10px;
    padding: 10px;
}
.cartitemcount h3{
    margin: 5px;
    border-bottom: 1px solid black;
}
.cartitemcount h4{
    margin: 5px;
    padding: 5px;
    border-bottom: 1px solid black;
}


.cartbutton {
    background: #f0c14b;
    border: 1px solid;
    margin-top: 10px;
    border-color: #a88738 #9c7e31;
    color: #111;
}

.totalcheckout {
    display: flex;
    padding: 30px;
    width: 100%;
    justify-content: space-around;
}
