  .checkouttop {
    position: top;
    display: flex;
    width: 100%;
    position: sticky;
    top: 60px;
    z-index: 100;
  }

  .checkoutimages {
    width: 66.6%;
  }

  .banner {
    width: 50%;
    height: 200px;
    margin-bottom: 5px;

  }

  .checkoutsubtotal {
    width: 33.4%;
    height: 200px;
  }

  .checkouttitle {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    position: top;
    top: 265px;
    z-index: 100;
  }


  .checkoutbottom {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }


  ::-webkit-scrollbar {
    display: none;
  }
