.checkout {
    display: flex;
}

.checkoutimages {
    display: flex;
    align-items: center;
}

.checkoutleft {
    height: 100vh;

}


.banner {
    width: 33.3%;
    height: 200px;
    margin-bottom: 5px;

}

.checkouttitle {
 padding: 10px;
 border-bottom: 1px solid black;
}


.checkoutright {
    width: 40%;
}

.checkoutproduct {
    height: 100%;
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}
