.header {
    height: 60px;
    display: flex;
    align-items: center;
    background-color: black;
    position: sticky;
    top: 0;
    z-index: 100;
 }

 .headerlogo {
     width: 100px;
     object-fit: contain;
     margin: 0 20px;
 }

 .headersearch {
     display: flex;
     flex: 1;
     align-items: center;
     border-radius: 24px;
 }

 .headersearchinput {
     height: 12px;
     padding:10px;
     border: none;
     width: 100%;
 }

 .headersearchicon {
     padding: 5px;
     height: 22px !important;
     background-color: #cd9042;
 }

 .headeroptionlineone {
     font-size: 10px;
 }

 .headeroptionlinetwo {
     font-size: 13px;
     font-weight: 800;
 }

 .headeroptionbasket {
     display: flex;
     align-items: center;
     color: white;
 }

 .headerbasketcount {
     margin-left: 10px;
     margin-right: 10px;
 }

 .headernav {
     display: flex;
     justify-content: space-evenly;
 }

 .headeroption {
     display: flex;
     flex-direction: column;
     margin-left: 10px;
     margin-right: 10px;
     color:white;
 }

 #loginlink {
     text-decoration: none;
     color: white;
 }

 #checkouterror {
    margin-left: 10px;
    margin-right: 10px;
 }
