.homepage {
    background-color: #dedede;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerhome {
    position: static;
    margin-bottom: auto;
    width: 100%;
    background-image: url("https://assets.aboutamazon.com/dims4/default/b073721/2147483647/strip/true/crop/2357x1179+74+690/resize/1200x600!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fab%2F7d%2F7387c5c34035af9dafce465fe433%2Famazon-org-smile-extruded-sq.jpg");
}


.dropdownmenu{
    font-size: 40px;
    padding: 5px;
}

.homecarousels {
    display: flex;
    justify-content: center;
    height: fit-content;
    width: 100%;
    margin: 3px;
}


.homecarousel1 {
    background-image: url("https://m.media-amazon.com/images/G/01/FlexComm/Web/Home1rleftMakeQuickerweb.png");
    background-repeat: no-repeat;
    position: relative;
    width: 20%;
    margin: 10px;
    overflow: hidden;
    margin-right: 0;
}

.homecarousel2 {
    width: 80%;
    margin: 10px;
    margin-left: 0;
}


.homerow1 {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.homerow2 {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.homerow3 {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 300px;
    margin: 10px;
    background-color: white;
}
.box {
    display: flex;
    border-radius: 15px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 320px;
    height: 320px;
    margin: 10px;
    padding: 4px;
}

.boximage {
    height: 110px;
    width: 110px;
    margin: 10px;
    object-fit: contain;
}

.movieimage {
    display: fit-content;
    width: 150px;
    height: 220px;
    margin: 8px;
    padding: 5px;
}


.homepagemoviestitle {
    position: absolute;
    top: 0;
    left: 0;
    padding: 4px;
    font-size: 28px;
}

@media only screen and (max-width: 1160px) {
.homecarousel2 {
    width: 100%;
    /* margin: 10px;
    overflow: hidden;
    margin-left: 0; */
}
.homecarousel1 {
    display: none;
}
}

@media only screen and (max-width: 1330px) {
    .homeboxes {
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        padding: 0px;
        margin: 0px;

    }
    .homerow1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .homerow2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }
    .homerow3 {
        display: flex;
        flex-wrap: wrap;
        height: auto;
        width: 100%;
        align-items: center;
        justify-content: center;

    }
    .box {
        min-width: 360px;
        min-height: 360px;
    }

}
