.home {
    background-image: url("https://assets.aboutamazon.com/dims4/default/b073721/2147483647/strip/true/crop/2357x1179+74+690/resize/1200x600!/quality/90/?url=https%3A%2F%2Famazon-blogs-brightspot.s3.amazonaws.com%2Fab%2F7d%2F7387c5c34035af9dafce465fe433%2Famazon-org-smile-extruded-sq.jpg");
    height: 100vh;
}


.dropdownmenu{
    font-size: 40px;
    padding: 5px;
    /* position: absolute; */
}
