#healthimage {
    background-image: url("http://www.northhillsclub.com/assets/northhillsclub/Uploads/Fitness%20Banner.JPG");
    background-position: center;
    border-image-repeat: none;
    height: 40vh;
    background-size: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-size: 50px;

}
