.products {
    display: flex;
}
#productimage {
    max-width: 200px;
    margin-right: 20px;
}

#productimage:hover {
    transition: 0.2s;
    padding-bottom: 10%;
    z-index: 1;
    position: relative;
    cursor: pointer
}
