#electronicsimage {
    background-image: url("https://static.pi-usa.us/fileadmin/_processed_/d/6/csm_PI-Electronics-Manufacturing_1aac684c8a.jpg");
    background-position: center;
    height: 40vh;
    background-size: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-size: 50px;

}
