.foodimage {
    background-image: url("https://image.shutterstock.com/image-photo/healthy-food-clean-eating-selection-260nw-722718097.jpg");
    background-position: center;
    height: 40vh;
    background-size: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    color: white;
    font-size: 50px;

}
